---
import BaseLayout from "./layouts/BaseLayout.astro";

const identity = {
    firstName: "Sarah",
    country: "Canada",
    occupation: "Technical Writer",
    hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>
	
<BaseLayout>
<h1>Astro - TEST</h1>
<p>This is all a test of how text looks in the Astro Site</p>	
<p> How come?</p>
<p>To test line spacing </p>
<br>
<p>Here are a few facts about Sarah, a fictional mass murdering character.</p>

<ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country}, and I work as a {identity.occupation}.</li>
    {identity.hobbies.length >=2 &&
     <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    }
</ul>
<p>My skills are:</p>
<ul>
    {skills.map((skill)=><li>{skill}</li>)}
</ul>

{happy && <p>I am happy (which is a lie)</p>}
{finished && <p>I finished the tutorial</p>}
{goal && <p>My goal is to create AGI</p>}



</baseLayout>